@import 'font.css';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}



.header {
    background: url('../images/header-bg.png') no-repeat center center / cover;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.header__nav {
    background: #322E41;
}

.header__nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-logo {}

.header__nav-list {
    display: flex;
}

.header__nav-link {
    display: block;
    color: #fff;
    padding: 23px 14px;
    transition: .5s;
}

.header__nav-link:hover {
    background: #fff;
    color: #D47300;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.header__content-title {
    color: #fff;
    font-size: 50px;
    line-height: 59px;
    font-family: 'RB';
    margin-bottom: 15px;
}

.header__content-description {
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    font-family: 'RR';
    
}

.header__content-description {
    font-family: 'RB';
}

h2